<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item">
      <a>
        <img src="../../../../assets/img/allproducts.webp" alt="">
        <h6>All products</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <img src="../../../../assets/img/grocery.webp" alt="grocery">
        <h6>Grocery</h6>
      </a>

    </div>
    <div class="item">
      <a>
        <img src="../../../../assets/img/mobiles.webp" alt="Mobiles">
        <h6>Mobiles</h6>
      </a>

    </div>
    <div class="item">
      <a>
        <img src="../.,/../../../../assets/img/fashion.png">
        <h6>Fashion</h6>
      </a>

    </div>
    <div class="item">
      <a>
        <img src="../.,/../../../../assets/img/Electronics.webp">
        <h6>Electronics</h6>
      </a>

    </div>
    <div class="item">
      <a>
        <img src="../.,/../../../../assets/img/Home.webp">
        <h6>Home</h6>
      </a>

    </div>
    <div>
      <a>
        <img src="../../../../assets/img/Appliances.webp" alt="">
        <h6>Appliances</h6>
      </a>
    </div>
    <div>
      <a>
        <img src="../../../../assets/img/travel.webp" alt="">
        <h6>Travel</h6>
      </a>
    </div>
    <div>
      <a>
        <img src="../../../../assets/img/Beauty & toys.webp" alt="">
        <h6>Beauty,Toys & More </h6>
      </a>
    </div>

  </div>

</div>